<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <form action="/logout" method="post">
        <button>Logout</button>
    </form>
    <h1>Admin</h1>
    <a href="/riderDetails">Rider Details</a>
    <a href="/publishDetails">Publish Details</a>
</body>
</html>